h2 {
    color: #b088f9;
}

h3 {
    color: #da9ff9;
}

p {
    text-align: justify;
}

.slide {
    width: 100%;
    max-height: 500px;
}

#judul {
    font-size: 20px;
    padding: 20px;
    background-color : #bedcfa;
    text-align: center;
    color: white;
 }

 #logo {
     width: 100%;
     max-width: 600px;
 }

 header {
    display: inline;
}

 nav {
    background-color: #98acf8;
    padding: 5px;
    position: sticky;
    top: 0px;
    
 }

 nav a {
    font-size: 18px;
    font-weight: 400px;
    text-decoration: none;
    color: white;
 }

nav a:hover {
    font-weight: bold;
    color: #b088f9;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
 }

 body {
    font-family: sans-serif,'Quicksand';
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}

.contentItem {
    border-bottom: 5px double #b088f9;
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .imageContent {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: center;
 }

 .imageSchool {
    width: 80%;
    object-fit: cover;
    object-position: center;
 }

 .sosmed {
    flex-basis: 50%;
    font-size: 1.5em;
    text-align: left;
    margin: 0px;
    display: inline;
 }

 .space {
     margin-bottom: 50px;
 }

 .card {
    box-shadow: 0 4px 8px 0 #b088f9;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
 }

 #content {
     float: left;
     width: 75%;
 }

 aside {
     float : right;
     width: 25%;
     padding-left: 20px;
 }

 * {
    box-sizing: border-box;
 }

 .logo {
    width: 300px;
 }

 .flexboxPrice {
     display: flex;
     text-align: center;
 }

 footer {
    padding: 20px;
    color: white;
    background-color: #98acf8;
    text-align: center;
    font-weight: bold;
}

  .profile header {
    text-align: center;
}

  .profile img {
      height: 100%;
      width: 100%;
      max-width: 150px ;
      max-height: 150px;
      object-fit: cover;
      object-position: center;
      border-radius: 100%;
      padding: 0px;
  }

  .profile table {
    text-align: left;
}

.center {
    text-align: center;
}

.clickPrice:hover {
    background-color: #b088f9;
}

 @media screen and (max-width: 1000px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
    nav a {
        font-size: 50%;
    }
 }